.Rproj.user
.Rhistory
.RData
.Rd
.Ruserdata
.Rbuildignore
src/*.o
src/*.so
src/*.dll
man
.vscode
.idea
*.log
*.rds
.codelite
callgrind*
.depend
.gdb_history
*.creator.user*
cpp/test_bt
cpp/test_rx
cpp/v3/
